@media screen and (min-width: 320px) {
  .footer {
  background-color: #2f303a;

  
& .logo:before {
  content: "Web";
  color: var(--main-color);
}

& .logo:after {
  content: "Studio";
  color: var(--color-7);
}

& .logo {
  display: flex;
  justify-content: center;
  color: var(--color-8);
}

& .cointaner .logo {
  padding-top: 60px;
  display: inline-block;
}

& .social-media__icon {
  fill: var(--color-7);
}

& .cointaner .middlefooter .social-media {
  margin-top: 20px;
}

& .cointaner {
  display: block;
}

& .social-media__list:hover,
& .social-media__list:focus {
  background-color: var(--main-color);
  cursor: pointer;
}

& .social-media__list {
  background-color: var(--color-11);
}
}
.leftfooter {
  
  text-align: center;
}


.middlefooter {
  text-align: center;
}

.rightfooter {
  text-align: center;
  padding-bottom: 60px;
}

.location {
  margin-top: 20px;
  padding-bottom: 60px;
}

.location__item:not(:last-child) {
  margin-bottom: 9px;
}


.location__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);

&:hover,
&:focus {
  color: var(--color-7);
}
}


.h4 {
  
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-6);
}



.signin-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-6);
}


.signin__input {
  height: 50px;
  width: 358px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-12);
  outline: none;
  transition: all 250ms linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);

&:hover,
&:focus {
  outline: none;
  border-color: var(--main-color);
}


&::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--color-3);
  z-index: 5;
}
}


.signin__svg {
  position: absolute;
  top: 13px;
  right: 145px;
  width: 24px;
  height: 24px;
  fill: var(--color-6);
}

.signin {
  display: block;
}

}

@media screen and (min-width: 768px) {
   & .cointaner {
  display: block;
}
.left-mid-content {
  display: flex;
  justify-content: space-between;
  padding-left: 76px;
  padding-right: 76px;
}
.h4 {
  padding-top: 60px;
} 
.signin__svg {
  top: 13px;
  right: 283px;
}
}

@media screen and (min-width: 1200px) {
    .left-mid-content {
      display: flex;
      padding-left: 0px;
      padding-right: 0px;
    }
     .footer .cointaner {
  display: flex;
}
.footer .social-media {
  padding-left: 85px;
  padding-right: 85px;
}
.signin {
  display: flex;

}
.signin__input {
  margin-right: 12px;
}

.signin-title {
  text-align: left;
  margin-top: 72px;
}
.h4 {
  padding-top: 72px;
}
.leftfooter {
  text-align: left;
}
.signin__svg {
  top: 13px;
  right: 29px;
}
.rightfooter {
  margin-left: auto;
}
}







