@media screen and (min-width: 320px) {
  .header .logo {
    margin-bottom: 16px;
  }
}



.header {
  border: 1px solid #ececec;

& .logo:before {
  content: "Web";
  color: var(--main-color);
}

& .logo:after {
  content: "Studio";
  color: var(--color-8);
}
}

