@media screen and (min-width: 320px) {
 .h2 {
   padding-top: 60px;
  padding-bottom: 30px;
 }
}

@media screen and (min-width: 1200px) {
  .h2 {
   padding-top: 90px;
  padding-bottom: 50px;
 }
}




.h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.714;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-8);
}

 